<div class="child-profile">
  <br>
  <div class="row">
    <div class="pull-right avatar"><img src="../../assets/img.jpg"></div>
    <div class="info">
      <h4>Ядзя Мудрачэнка</h4>
      <p>21.10.2014г., 5 гадоу</p>    
      <p>Cадок: №403</p>
      <p>Групка: Матылькі</p>
      <p>Выхавацелька: Тацяна Іванаўна Iванова</p>
      <p>Maцi: Наталля Іванаўна Iванова</p>
      <p>Тата: Андрэй Іванавiч Iваноу</p>
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-xs-12 pull-right add-skills">
      <button type="button" class="btn" (click)="show();">выбраць навык</button>
    </div>
  </div>

  <br>

  <div class="row" *ngIf="this.currentProject">
    <div class="currentProject col-xs-12 pull-right">
      <h4>{{ currentProject.title }}</h4>
      <p>Навыкi:</p>
      <ul>
        <li *ngFor="let skill of currentSkills">{{ skill.title }}</li>
      </ul>
    </div>
  </div>

  <br>

  <div class="row" *ngIf="this.currentProject">
    <div class="col-xs-12 pull-right add-skills">
      <button type="button" class="btn" (click)="add();">дадаць навык</button>
    </div>
  </div>

  <br>
  <br>


  <!--<div class="projects-info">
    <div class="skill col-xs-12 text-center"><div></div></div>
    <div class="skill col-xs-12 text-center"><div></div></div>
    <div class="skill col-xs-12 text-center"><div></div></div>
    <div class="skill col-xs-12 text-center"><div></div></div>
    <div class="skill col-xs-12 text-center"><div></div></div>
  </div>-->

  <div class="projects-info">
    <div class="skill col-xs-12 text-center" [ngClass]="{'change-style' : changeStyles}" *ngFor="let skill of skills" data-placement="bottom" tooltip="{{ skill.title }}"><div></div></div>
  </div>

  <br>
  <br>
  <br>
 
  <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Выберыце дзейнасць</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul>
            <li class="list-group-item"  *ngFor="let project of projects" (click)="setProject(project)">
              {{project.title}}
            </li>
          </ul>
        </div>

        <div class="modal-footer">
          <div class="pull-left">
            <button class="btn btn-default" (click)="hide()">Назад</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
