<div class="child-profile">
  <div class="child-info">
    <div><img  class="avatar pull-right" src="../../assets/img.jpg"></div>
    <div class="info">
      <h3>Ядзя Мудрачэнка</h3>
      <p>21.10.2014г.</p>    
      <p>Нумар садка	№403</p>
      <p>Назва групкі	Матылькі</p>
      <p>Імя выхавацелькі	Тацяна Іванаўна</p>
    </div>
  </div>

  <div class="projects-info">
    <h2>Projects</h2>
    <ul>
      <li>1</li>
      <li>1</li>
      <li>1</li>
      <li>1</li>
      <li>1</li>
    </ul>


  </div>
  
  <div class="other-info">
    <h2>Ідэі шчасьлівага бацькоўства </h2>
    <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text.</p>
  </div>
</div>
