.child-profile {
    margin: 0px 180px;
    font-family: Courier New;
}


.child-info {
    display: inline-block;
}

img {
    border-radius: 50%;
}

h4{
    color: #2f421a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.info {
    p {
        color: #464646;
    }
}

.avatar img{
    height: 176px;
    width: 176px;
}

p {
    margin: 0;
    font-size: 16px;
}

.projects-info {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}
.projects-info::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background: brown;
    z-index: 1;
}

.skill {
    width: 100%;
    div {
        width: 170px;
        height: 102px;
        border-radius: 12px 102px 0 90px;
        background-color: green; /* For browsers that do not support gradients */
        background-image: linear-gradient(to top, green , yellow);
        display: inline-block;
        margin: 0 0 30px;
    }
}

.skill:nth-child(2n+1) div {
    margin-right: 250px;
}

.skill:nth-child(2n) div {
    margin-left: 250px;
    transform: rotateY(180deg);
}

@media only screen and (max-width: 768px) {
    .child-profile {
        margin: 0px 50px;
    }

    .avatar {
        margin: 0 auto;    
        img {
            margin-bottom: 30px;
        }
    }

    .info {
        margin: 0 auto;
    }
}



@media only screen and (min-width: 769px) {
    img {
        margin-right: 50px;
    }
}