<div class="child-profile">
  <br>
  <div class="row">
    <div class="pull-right"><img  class="avatar pull-right" src="../../assets/img.jpg"></div>
    <div class="info">
      <h4>Ядзя Мудрачэнка</h4>
      <p>21.10.2014г., 5 гадоу</p>    
      <p>Cадок: №403</p>
      <p>Групка: Матылькі</p>
      <p>Выхавацелька: Тацяна Іванаўна Iванова</p>
    </div>
  </div>

  <br>

  <div class="projects-info">
    <div class="skill col-xs-12 text-center"><div></div></div>
    <div class="skill col-xs-12 text-center"><div></div></div>
    <div class="skill col-xs-12 text-center"><div></div></div>
    <div class="skill col-xs-12 text-center"><div></div></div>
    <div class="skill col-xs-12 text-center"><div></div></div>
  </div>

  <br>
  
  <div class="other-info">
    <h2>Ідэі шчасьлівага бацькоўства </h2>
    <p>Павучыцеся з Ядзяй падаць. Пасцяліце коўдру, вазьміце палкі і проста падайце з імі на коўдру са смехам.</p>
    <p>Павучыцеся ацэньваць сітуацыю. Схадзіце ў парк і паназірайце за іншымі дзеткамі. Выберыце пэўныя незвычайныя сітуацыі ў якія яны трапляюць і разам з ім прааналізуйце іх.</p>
  </div>

  <br>
</div>
