.header {
    width: 100%;
    height: 60px;
    background: #8bc34a;
    position: relative;

    span {
        font-family: hurok;
        color: white;
        font-size: 38px;
        margin-left: 40px;
    }
    button{
        position: absolute;
        top: 10px;
        right: 40px;
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0;
        padding: 0;
        letter-spacing: 2px;
        font-weight: bold;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}